In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

# importing df_ords_prior

In [2]:
path = r'J:\Data Analytics\Achievement 4 project 29-04-2025\03 Scripts\Original Folder\orders_products_prior.csv'

In [3]:
path

'J:\\Data Analytics\\Achievement 4 project 29-04-2025\\03 Scripts\\Original Folder\\orders_products_prior.csv'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path), index_col = False)

# importing df_ords_prepared

In [5]:
path = r'J:\Data Analytics\Achievement 4 project 29-04-2025\03 Scripts\Prepared Folder\orders_prepared.csv'

In [6]:
path

'J:\\Data Analytics\\Achievement 4 project 29-04-2025\\03 Scripts\\Prepared Folder\\orders_prepared.csv'

In [7]:
df_ords_prepared = pd.read_csv(os.path.join(path), index_col = False)

# checking the outputs

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prepared.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords_prepared.shape

(3421083, 8)

In [ ]:
# creating a new data frame

In [13]:
df_merged_large = df_ords_prepared.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
df_merged_large.head()     #checking

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [15]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
path = r'J:\Data Analytics\Achievement 4 project 29-04-2025\03 Scripts\Prepared Folder'

In [17]:
path

'J:\\Data Analytics\\Achievement 4 project 29-04-2025\\03 Scripts\\Prepared Folder'

In [18]:
df_merged_large.to_pickle(os.path.join(path, 'orders_products_combined.pkl'))